<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769188728131-qqami9krr4sv5qe4q24a5l4o95ia8ifh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769188728131-qqami9krr4sv5qe4q24a5l4o95ia8ifh</string>
	<key>API_KEY</key>
	<string>AIzaSyDVS3Avol_fRFhRdDEytd6uDESdf4DqspA</string>
	<key>GCM_SENDER_ID</key>
	<string>769188728131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondspace.bount</string>
	<key>PROJECT_ID</key>
	<string>bount-a57bc</string>
	<key>STORAGE_BUCKET</key>
	<string>bount-a57bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769188728131:ios:e11b2434eccf02aed4f3f6</string>
</dict>
</plist>