<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrmfXGEBV6XMlzBaR3neEJ6Au2THCbu1U</string>
	<key>GCM_SENDER_ID</key>
	<string>282852676085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondspace.BountV2</string>
	<key>PROJECT_ID</key>
	<string>bountv2-43c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>bountv2-43c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282852676085:ios:397d11381bbbc9ba25d0bc</string>
</dict>
</plist>